<section>
  @if (steps==1) {
  <div class="w-75 m-auto my-5">
    <h2 class="my-3">Forget Password :</h2>
    <form [formGroup]="forgetPassword">
      <input
        [ngClass]="{
          'is-valid':
            !forgetPassword.get('email')?.errors &&
            (forgetPassword.get('email')?.touched ||
              forgetPassword.get('email')?.dirty),
          'is-invalid':
            forgetPassword.get('email')?.errors &&
            (forgetPassword.get('email')?.touched ||
              forgetPassword.get('email')?.dirty)
        }"
        formControlName="email"
        type="email"
        class="form-control my-3"
        placeholder="Type your email....."
      />
      <alertError [formName]="forgetPassword" controleName="email" />
      <div class="d-flex justify-content-between">
        <button
          (click)="submitStep1()"
          [disabled]="forgetPassword.invalid"
          class="btn bg-main text-white"
        >
          @if (!isBtnSubmit) { Send }@else{
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
  }@else if (steps==2) {
  <div class="w-75 m-auto my-5">
    <h2 class="my-3">verify Reset Code :</h2>
    <form [formGroup]="verifyResetCode">
      <input
        [ngClass]="{
          'is-valid':
            !verifyResetCode.get('email')?.errors &&
            (verifyResetCode.get('email')?.touched ||
              verifyResetCode.get('email')?.dirty),
          'is-invalid':
            verifyResetCode.get('email')?.errors &&
            (verifyResetCode.get('email')?.touched ||
              verifyResetCode.get('email')?.dirty)
        }"
        formControlName="resetCode"
        type="text"
        class="form-control my-3"
        placeholder="Type your email....."
      />
      <alertError [formName]="verifyResetCode" controleName="resetCode" />

      <div class="text-danger my-3">{{ errorMessage }}</div>
      <div class="d-flex justify-content-between">
        <button
          (click)="submitStep2()"
          [disabled]="verifyResetCode.invalid"
          class="btn bg-main text-white"
        >
          @if (!isBtnSubmit) { Verify }@else{
          <i class="fa-solid fa-spinner fa-spin"></i>
          }
        </button>
      </div>
    </form>
  </div>
  }@else if (steps==3) {

  <div class="w-75 m-auto my-5">
    <h2 class="my-3">Reset password :</h2>
    <form [formGroup]="resetPassword">
      <input
        [ngClass]="{
          'is-valid':
            !resetPassword.get('email')?.errors &&
            (resetPassword.get('email')?.touched ||
              resetPassword.get('email')?.dirty),
          'is-invalid':
            resetPassword.get('email')?.errors &&
            (resetPassword.get('email')?.touched ||
              resetPassword.get('email')?.dirty)
        }"
        formControlName="email"
        type="text"
        class="form-control my-3"
        placeholder="Type your email....."
      />
      <alertError [formName]="resetPassword" controleName="email" />

      <input [ngClass]="{'is-valid':
            !resetPassword.get('newPassword')?.errors &&
            (resetPassword.get('newPassword')?.touched ||
              resetPassword.get('newPassword')?.dirty),
          'is-invalid':
            resetPassword.get('newPassword')?.errors &&
            (resetPassword.get('newPassword')?.touched ||
              resetPassword.get('newPassword')?.dirty)
        }"
        formControlName="newPassword"
        type="text"
        class="form-control my-3"
        placeholder="Type your new Password....."
      />
      <alertError [formName]="resetPassword" controleName="newPassword" />

      <div class="text-danger my-3">{{ errorMessage }}</div>
      <div class="d-flex justify-content-between">
        <button
          (click)="submitStep3()"
          [disabled]="resetPassword.invalid"
          class="btn bg-main text-white"
        >
          @if (!isBtnSubmit) { 
            Reset 
          } @else { 
            <i class="fa-solid fa-spinner fa-spin"></i> 
          }
        </button>
      </div>
      
    </form>
  </div>
  }
</section>
